button{
    background: none;
    color: #338033;
    width: 18vw;
    height: 12vh;
    border: 4px solid #000;
    font-size: 6vh;
    border-radius: 4px;
    transition: .6s;
}
button:hover{
    background-color: #444;
    color:#1de01d ;
    border: 4px solid #338033;
}
button:active{
    background-color: none;
    border: none;
}
p{
    text-shadow: 1px 1px black ;
}

button:nth-child(1){
    left: 40%;
    transform: translate(-50%,-50%);
    top: 90%;
}
button:nth-child(2){
    left: 60%;
    transform: translate(-50%,-50%);
    top: 90%;
}

.active{
    display: block;
}
.noActive{
    display: none;
}
@media (max-width: 1024px){
    
}
@media (max-width: 900px){
   
}
@media (max-width: 900px){
   
}
@media (max-width: 780px){
    
}
@media (max-width: 580px){
    button{
        background: none;
        color: #338033;
        width: 25vw;
        height: 12vh;
        border: 4px solid #000;
        font-size: 4vh;
        border-radius: 4px;
        transition: .6s;
    }
    button:nth-child(1){
        left: 35%;
        transform: translate(-50%,-50%);
        top: 90%;
    }
    button:nth-child(2){
        left: 65%;
        transform: translate(-50%,-50%);
        top: 90%;
    }
}