.card{
    width: 3vw;
    height: 10vh;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    line-height: 50px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
@media (max-width: 1200px){
    .card{
        width: 6vw;
        height: 10vh;
        font-size: 12px;
    }
}
@media (max-width: 900px){
    .card{
        width: 6vw;
        height: 10vh;
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .card{
        width: 7vw;
        height: 10vh;
        font-size: 9px;
    }
}

