.card{
    width: 3vw;
    height: 10vh;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    line-height: 50px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

