
.CardsForPlayer{
    width: 40vh;
    height: 11vh;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    font-size: 12px;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.CardsForDealer{
    width: 40vh;
    height: 11vh;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}