.score{
    box-sizing: content-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 60px;
    width: 15vw;
    height: 32vh;
    border: black solid 3px;
    font-weight: bold;
   
}
.score span{
    width: 100%;
    height: 8vh;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: center;
   align-items: center;
    
}