.score{
    box-sizing: content-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 60px;
    width: 15vw;
    height: 32vh;
    border: black solid 3px;
    font-weight: bold;
   
}
.score span{
    width: 100%;
    height: 8vh;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: center;
   align-items: center;
    
}
@media (max-width: 1400px){
    .score{
        box-sizing: content-box;
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: 8vh;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .score span{
        width: 100%;
        height: 8vh;
        border-bottom: black 1px solid;
        display: flex;
        justify-content: center;
       align-items: center;
        
    }
}
@media (max-width: 1024px){
    .score{
        box-sizing: content-box;
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: 8vh;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .score span{
        width: 100%;
        height: 8vh;
        border-bottom: black 1px solid;
        display: flex;
        justify-content: center;
       align-items: center;
        
    }
}

@media (max-width: 900px){
    .score{
        border: black solid 2px;
        width: 50vw;
        height: 8vh;
        
    }
    .score span{
        width: 100%;
        height: 8vh;
       font-size: 10px ;
    }
}
@media (max-width: 780px){
    .score{
        border: black solid 1px;
        width: 60vw;
        height: 8vh;
        
    }
    .score span{
        width: 100%;
        height: 8vh;
       font-size: 9px ;
    }
}
@media (max-width: 580px){
    .score{
        border: black solid 1px;
        width: 90vw;
        height: 10vh;
        
    }
    .score span{
        width: 100%;
        height: 10vh;
       font-size: 9px ;
       
    }
}