.table{
    position: relative;
    width: 55vw;
    height: 55vh;
    background-color: rgb(42, 77, 7);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: solid 6px black;
}
.player{
    width: 7vw;
    height: 7vw;
    position: relative;
    background-color: cornflowerblue;
    border: solid 3px black;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-95%);
    border-radius: 50%;
    line-height: 500%;
}
.player:nth-child(2){
    width: 7vw;
    height: 7vw;
    position: relative;
    background-color: rgb(107, 107, 107);
    border: solid 3px black;
    top: 2%;
    left: 50%;
    transform: translate(-50%,-95%);
    
}


button{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    display: block;
}
button:nth-child(2){
    left: 150px;
}

.noActive{
    display: none;
}
.active{
    display: block;
}
